<div class="container-fluid pt-3">
  <div class="card">
    <h5 class="card-header text-white bg-gradient-primary">Device List</h5>
    <div class="card-body">
      <div class="card-title">
      </div>
      <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let item of devices$|async">
          <div class="card text-white bg-secondary mb-3">
            <div class="card-header">{{ item.name }}</div>
            <div class="card-body text-black bg-white">
              <h5 class="card-title">Temperature: {{ item.temperature[item.temperature.length -1] }}</h5>
              <canvas baseChart width="400" height="150"
                [data]="item.lineChartData"
                [options]="lineChartOptions"
                [type]="lineChartType"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
