<header class="navbar navbar-dark sticky-top bg-primary text-white">
  <div class="logo-container">
    <a class="d-flex mb-3 mb-md-0 me-md-auto px-md-4" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample">
      <img src="../../assets/pg-logo.png" class="img-fluid" alt="logo">
      <div class="overlay">Nagivation menu</div>
    </a>
  </div>
  <!-- <i class="bi bi-menu-button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" title="Nagivation menu"></i> -->
  <div class="container-fluid col justify-content-end">
    <span class="navbar-brand mb-0 h1">Welcome Guest</span>
  </div>
</header>

<!-- Sidebar -->
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header row">
    <hr style="margin:0 auto">
  </div>
  <div class="offcanvas-body">
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="#" class="nav-link link-dark" aria-current="page">
          <i class="bi bi-house-door"></i> Home
        </a>
      </li>
      <li class="nav-item">
        <a href="/dashboard" class="nav-link link-dark">
          <i class="bi bi-columns"></i> Dashboard
        </a>
      </li>
    </ul>
  </div>
</div>