<p>dashboard works!</p>
<div>
    <mat-form-field appearance="fill">
        <mat-label>Interval</mat-label>
        <mat-select [(ngModel)]="selectedValue">
            <mat-option *ngFor="let ti of timeIntervals" [value]="ti.value">
                {{ti.viewValue}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-list>
        <mat-list-item >Current Temperature: {{ lastestTemperatureReading }} °C ,
             Humidity: {{lastestHumidityReading}} %</mat-list-item>
    </mat-list>
</div>



<div>
    <canvas id="chartTimeseries"></canvas>
</div>